.corporatekits {
    display: flex;
    align-items: center;
    background: #EDEAE4;
}

.corporate_kit_content .corporate_kit_list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    line-height: 38px;
    color: var(--grey-666);
}

.corporate_kit_content .sub_head_inter {
    margin: 34px 0;
}

.cor_kits_slider .slick-dots {
    bottom: -35px;
}

.vip_board {
    display: flex;
}

.vip_board_rt,
.vip_board_lt {
    width: 50%;
}


.vip_board_content .vip_board_item:first-child {
    margin-top: 40px;
}

.vip_board_content .vip_board_item:last-child {
    border-left: none;
}

.vip_board_content .vip_board_item:last-child .sub_head_inter {
    margin: 35px 0;
}


.vip_board_item {
    margin-left: 120px;
    padding-left: 30px;
    border-left: 2px solid #C2B48E;
}


.corporate_slider .slick-slide {
    margin: 0 20px;
}