
    .faq_page {
        background-color: #F8F7F3;
    }

    .faq_page .nav-pills .nav-link.active {
        background: var(--gold-color);
        
    }

    .faq_page .nav-pills .nav-link {
        border-radius: 0;
        margin: 0 auto;
    }

    .faq_page .nav-link {
       color: var(--gold-color);
    }
    .faq_page .nav-item {
        padding: 18px 50px;
        color: var(--gold-color);
        font-size: 18px;
        font-weight: 500;
        border: 1px solid var(--gold-color);
        flex: 1;
    }

    .faq_page .nav.nav-pills {
        margin-bottom: 60px;
    }

    .faq_page .nav-item:has(.nav-link.active) {
        background-color: var(--gold-color);
    }

    /* faq css */
.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bbbbbb;
}
 
.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}
 
.accordion-button {
    background-color: transparent;
    color: var(--dark-900);
    font-size: 24px;
    font-family: var(--heading-font);
    font-weight: 400;
    line-height: 28px;
}
 
.accordion-button:not(.collapsed) {
    background-color: transparent;
}
 
.accordion-button::after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12 4V20M4 12H20' stroke='%23BBBBBB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}
 
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M5 5L19 19M5 19L19 5' stroke='%23BBBBBB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}
 
/* faq css */