/* hero section */
.hero_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section {
    position: relative;
    /* height: 100vh; */
}

.hero_content {
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
}

.hero_content p {
    color: #F8F7F3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: var(--mb);
}

.hero_left_right {
    position: absolute;
    top: 25%;
    left: -7%;
    transform: translate(-50%, -50%);
    rotate: -90deg;
    display: flex;
    align-items: center;
    gap: 18px;
}

.hero_left_right .sub_head {
    color: #F2D8D9;
}

/* Find Gesture  */

.gesture_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.gesture_filter_child {
    display: flex;
    align-items: center;
    gap: 24px;
}

.gesture_title {
    color: var(--dark-900);
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
}

.gesture_filter .dropdown {
    border: none;
    border-bottom: 1px solid #BBB;
    padding-right: 55px;
    color: var(--dark-900);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    background: url("../images/home/down_arr.svg") no-repeat right 0px center / 16px;
    appearance: none;
    cursor: pointer;
    padding-bottom: 8px;
}

.gesture_filter .dropdown:focus {
    outline: none;
    background: url("../images/home/down_arr_yello.svg") no-repeat right 0px center / 16px;
    border-bottom: 1px solid var(--gold-color);
}

/* desire_box */

.desire_box_top {
    position: relative;
    overflow: hidden;
}

.desire_box_top .icon_hert {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 3;
    cursor: pointer;
}

/* MAIN IMAGE */
.desire_box .img_1 {
    width: 100%;
    display: block;
}

/* OVERLAY */
.desire_box_top_child {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.desire_box_top:hover .desire_box_top_child {
    opacity: 1;
}

/* BUTTON */
.desire_box_top_child_inner {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 12px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.desire_box .price {
    color: var(--gold-color);
    font-size: 18px;
    font-weight: 500;
}


.desire_slider.slick-initialized .slick-slide {
    /* margin-left: 50px; */
    margin: 0 25px;
}


/* ------------------ */
.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin-top: 20px;
}

.slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
    line-height: 0;
    /* FIX for perfect circle dots */
}

.slick-dots li button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #A6C4BD !important;
    overflow: hidden;
    font-size: 0 !important;
    line-height: 0 !important;
    /* prevent default bullet size */
    transition: all 0.3s ease;
}

.slick-dots li button:before {
    content: none !important;
    /* remove slick default dot */
}

.slick-dots li.slick-active button {
    width: 28px;
    height: 10px;
    border-radius: 50px;
    background: #0D5E4C !important;
    transition: all 0.3s ease;
}


/* curated rituals */

.curated_rituals_box .box_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* bespoke  */
.bespoke_box_top,.bespoke_box_top_2 {
    position: relative;
}

.bespoke_box_top .title_40 {
    position: absolute;
    top: 60px;
    left: 60px;
    color: var(--white-color);

}

.bespoke_box_top_2 .title_40 {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: var(--white-color);
}


.bespoke_box_bot {
    padding: 34px 60px 0;
}

.bespoke_box_bot .para {
    color: var(--grey-666);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

/* ym */

.magic_wrapper h2 {
    font-family: var(--heading-font);
    color: var(--dark-900);
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.magic_wrapper h3 {
    color: #E6C1C2;
    font-family: var(--heading-font);
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
}

.magic_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 60px;
    position: relative;
    padding: 100px 0;
    margin: 50px 0;
}

.magic_wrapper img {
    position: relative;
    z-index: 1;
}

.magic_head_1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.magic_head_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/* ym */