.hero_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section {
    position: relative;
    height: 100vh;
}

.hero_content {
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
}

.hero_content p {
    color: #F8F7F3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: var(--mb);
}

.hero_left_right {
    position: absolute;
    top: 25%;
    left: -7%;
    transform: translate(-50%, -50%);
    rotate: -90deg;
    display: flex;
    align-items: center;
    gap: 18px;
}