.product_details_header header {
    position: static;
}

.product_details_header header * {
    color: var(--dark-900) !important;
}

.product_details_header header .hamburger>span span {
    background-color: var(--dark-900) !important;
}

.product_details_header header .header_logo,
.product_details_header header .navbar_right {
    filter: invert(1);
}

/* first section  */

.pro_details {
    display: flex;
    gap: 24px;
}

.pro_details .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pro_details .left .nav-link {
    padding: 0;
    border: none;
    background: none;
}

.pro_details .left .nav-link.active img {
    border: 3px solid var(--secondary-color);
}

.pro_details .left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.pro_details_right .main_head {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 500;
}

.pro_details_right .para {
    color: var(--grey-666);
}

.pro_details_right .increment_decrement_area {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.pro_details_right .increment_decrement {
    display: inline-flex;
    align-items: center;
    border: 1px solid #EDEAE4;
}

.pro_details_right .increment_decrement .dec_btn,
.pro_details_right .increment_decrement .inc_btn {
    background: #EDEAE4;
    width: 50px;
    height: 55px;
    border: none;
    transition: all 0.2s ease-in;
}


.pro_details_right .increment_decrement .dec_btn:hover,
.pro_details_right .increment_decrement .inc_btn:hover {
    background: var(--secondary-color);
}

.pro_details_right .increment_decrement .dec_btn:hover svg path,
.pro_details_right .increment_decrement .inc_btn:hover svg path {
    stroke: var(--white-color);
}

.pro_details_right .increment_decrement .span_value {
    color: var(--grey-666);
    leading-trim: both;
    text-edge: cap;
    font-size: 28px;
    font-weight: 500;
    padding: 14px 45px;
}

.pro_details_info b {
    color: var(--dark-333);
}

/* second section */

.modern-tabs .tab-content {
    border: 1px solid var(--gold-color);
    border-top: none;
    padding: 24px;
}

.modern-tabs .nav-tabs {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.modern-tabs .nav-item {
    padding-left: 0px;
    width: 100%;
}

.modern-tabs .nav-link {
    width: 100%;
    border-color: none;
    padding: 19px 28px;
    font-weight: 500;
    font-size: 18px;
    color: var(--gold-color);
    border: 1px solid var(--gold-color);
    border-radius: 0px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: var(--gold-color);
    color: var(--gold-color);
}

.modern-tabs .nav-link.active {
    border-color: var(--gold-color);
    background: var(--gold-color);
    color: var(--white-color);
    /* width: 100%; */
}