:root {
    /* color code */
    --white-color: #FFFFFF;
    --dark-900: #1C1C1A;
    --dark-333: #333333;
    --gold-color: #B58A46;
    --secondary-color: #0D5E4C;
    --grey-666: #666;

    /* font family */
    --heading-font: "Playfair Display", serif;
    --body-font: "Inter", sans-serif;

    /* variables */
    --radius: 10px;
    --transition: 0.3s ease;
    --mb: 24px;
    --fs-18: 18px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

body {
    background-color: #F8F7F3;
    color: var(--grey-666);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: inherit;
}

.mt_35 {
    margin-top: 35px;
}

.mt_60 {
    margin-top: 60px;
}

.mt_80 {
    margin-top: 80px;
}

.mt_120 {
    margin-top: 120px;
}

.mb_120 {
    margin-bottom: 120px;
}

.main_head {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: 64px;
    font-weight: 500;
}

.title_60 {
    color: var(--gold-color);
    font-family: var(--heading-font);
    font-size: 60px;
    font-weight: 400;
}

.title_40 {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 500;
}

.sub_head {
    color: var(--dark-900);
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 500;
}

.sub_head_inter {
    color: var(--gold-color);
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 500;
}

.section_header {
    text-align: center;
    margin-bottom: 40px;
}

.section_header .sub_head {
    text-transform: uppercase;
    color: var(--gold-color);
}

/* button hover effect  */
.com_btn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--secondary-color);
    font-weight: 500;
    padding: 14px 24px;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid var(--secondary-color);
}


.com_btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.com_btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.com_btn:hover {
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}

.com_btn:hover:before {
    top: -35%;
    background-color: var(--secondary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.com_btn:hover:after {
    top: -45%;
    background-color: var(--secondary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--white-color);
    font-weight: 500;
    padding: 14px 24px;
    font-size: 18px;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--white-color);
}


.btn_2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn_2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--white-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn_2:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn_2:hover:before {
    top: -35%;
    background-color: var(--white-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_2:hover:after {
    top: -45%;
    background-color: var(--white-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* cta footer css */
.cta_footer {
    background-image: url(../images/ctafooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cta_ftwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
}

.cta_ftwrapper .sub_head span {
    color: #F8F7F3;
    font-family: var(--heading-font);
    font-size: 34px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.cta_ft_center {
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* cta footer css */