:root {
    /* color code */
    --white-color: #FFFFFF;
    --dark-900: #1C1C1A;
    --gold-color: #B58A46;
    --secondary-color: #0D5E4C;

    /* font family */
    --heading-font: "Playfair Display", serif;
    --body-font: "Inter", sans-serif;

    /* variables */
    --radius: 10px;
    --transition: 0.3s ease;
    --mb: 24px;
    --fs-18: 18px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.com_btn {
    display: inline-block;
    background-color: var(--white-color);
    padding: 14px 24px;
    color: var(--secondary-color);
    font-size: var(--fs-18);
    font-weight: 500;
}

.main_head {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: 64px;
    font-weight: 500;
}

.sub_head {
    color: #F2D8D9;
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 500;
}